@import "tailwindcss";

.text-gradient-dark {
  background: linear-gradient(90deg, #3b82f6, #415ead);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #f0f0f0;
}
