@import "tailwindcss";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradient {
  animation: gradient 15s ease infinite;
}

.text-gradient {
  background: linear-gradient(
    90deg,
    #4f46e5,
    #ec4899
  ); /* Indigo to pink, matching your button */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
