@import "tailwindcss";

.text-gradient-dark {
  background: linear-gradient(
    90deg,
    #3b82f6,
    #1e3a8a
  ); /* blue shades for dark gradient */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}


/* Apply to textarea */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light track for contrast */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Tailwind blue-500 */
  border-radius: 4px;
  border: 2px solid #f0f0f0; /* Optional padding around thumb */
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #f0f0f0; /* Firefox */
}
